* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
}

h2 {
  text-align: center;
  margin: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 100%;
  height: 80px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  z-index: 3;
}

.logo a {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

.fa-bars {
  display: none;
}

.nav-bar ul {
  display: flex;
  padding: 10px 25px;
  border-radius: 30px;
  margin: 0 5px;
}

.nav-bar ul li a {
  color: var(--primary-color);
  font-size: 16px;
  display: block;
  margin-right: 7px;
  margin-left: 7px;
  text-decoration: none;
  transition: 0.2s;
}

iframe {
  width: 55%;
  margin: 1.5rem 0;
}

.hero {
  height: 600px;
  padding: 20px;
  margin: 0 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hero-texts {
  width: 80%;
}

.hero-title {
  font-size: 3.3rem;
  margin-bottom: 8px;
}

.hero-desc {
  margin: 2rem 0;
  font-size: 1.4rem;
}

.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.influencer-program-section-content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.about {
  height: 200px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.start-btn {
  border: 2px solid #000;
  border-radius: 16px;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
  flex: 0 0 30%;
}

.influencer-program-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.solution {
  align-self: flex-start;
}

.benefit {
  align-self: flex-end;
}

.img-h {
  width: 100%;
  height: 100%;
}

.models .card {
  text-align: left;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border-bottom: 0px;
}

.model-title {
  text-align: left;
  margin: 2rem 0;
}

.models {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.video-content {
  display: flex;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px) {
  .fa-bars {
    display: block;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: var(--secondary-color);
    transition: 0.5s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin: 20px 0;
  }

  .about {
    height: auto;
  }
}

@media (max-width: 884px) {
  .hero {
    height: auto;
    margin-top: 10px;
    flex-direction: column;
  }

  .hero-texts {
    width: 100%;
    text-align: center;
  }

  .hero-title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  img {
    width: 100%;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  header h1 {
    float: none;
    text-align: center;
  }

  header .logo p {
    text-align: center;
  }

  .video-content {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 678px) {

  .hero-title {
    font-size: 2rem;
  }
}